#menu {
	padding: 32px 40px 0 40px;
}

.first-part {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 64px;
	padding-bottom: 32px;
	align-items: center;
}

.menu-search-wrapper {
	max-width: 560px;
	height: 52px;
	background-color: var(--light-gray);
	border: none;
	display: flex;
	align-items: center;
	gap: 14px;
	padding-left: 14px;
}

.menu-search-input {
	background-color: var(--light-gray);
	border: none;
	height: 24px;
	padding: 0;
	font-size: 19px;
}

.menu-search-input:focus {
	outline: none;
}

.menu-search-image {
	height: 24px;
	width: 24px;
}

.menu-navigation ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 0;
	gap: 32px;
}

.categories-wrapper .menu-navigation ul{
	gap: 48px;
}

.second-part {
	border-top: 1px solid var(--border-light-gray);
	padding: 32px 0;
}

.menu-item {
	color: var(--dark-blue);
}

.first-part, .second-part{
	font-size: 19px;
	line-height: 22.8px;
}

.mobile-menu {
	display: none;
}

.menu-burger, .menu-burger::before, .menu-burger::after {
	height: 0.9px;
	background: var(--dark-blue);
	width: 20px;
}

.menu-burger::before, .menu-burger::after {
	content: '';
	display: block;
	position: relative;
}

.menu-burger::before {
	top: -5px;
}

.menu-burger::after {
	top: 5px;
}

.mobile-menu-wrapper {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
}

.logo-wrapper {
	display: flex;
	justify-content: center;
}

.logo-wrapper img{
	height: 32px;
}

.mobile-menu-wrapper {
	padding-bottom: 16px;
}

.mobile-menu-search {
	display: flex;
	justify-content: center;
}

@media (max-width: 1100px) {
	.first-part {
		gap: 32px;
	}
	.menu-item {
		font-size: 17px;
	}
	.menu-navigation ul {
		gap: 24px;
	}

	.categories-wrapper .menu-navigation ul{
		gap: 32px;
	}
	.menu-search-input {
		font-size: 17px;
	}
}
@media (max-width: 820px) {
	.desktop-menu {
		display: none;
	}
	.mobile-menu {
		display: block;
	}
	#menu {
		padding: 16px 24px;
	}
	.menu-search-wrapper {
		width: 358px;
	}
}